* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(24, 172, 167);
}

.teste-bravo{
  text-decoration: underline;
}

.home strong{
  padding: 3px;
  margin-top: 3px;
  color:rgba(255, 255, 255, 0.7);
  font-size: 20px;
}



.proj-icon-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  width: 110px;
  height: 110px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  box-shadow: rgba(100, 100, 111, 0.4) 5px 5px 10px 2px;
}

.div-icons-home{
  display: flex;
  width: 100%;
  overflow: scroll;
}

.proj-icon-home img {
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

h3{
  color: black;
}
h6{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
}

.input-feedback{
  width: 100%;
  height: 100%;
  line-height: 5;
}

.buildind{
  color: white;
  margin: 35px;
  font-size: 40px;
}