.photo-profile{
  border-radius: 50%;
  border: solid black 3px;
  margin: auto;
  width: 40%;
}

.profile{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 72, 0);
  width: 100%;
  border: solid blue5px;
}

h4{
  padding: 0px;
  margin: 0px;
  border: 0px;
}